<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/20f2f53b-2b59-48ce-8bbd-78b08f9d627e/resourcegroups/line-notify/providers/Microsoft.Web/sites/API20230422030500</ResourceId>
    <ResourceGroup>line-notify</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://localhost:5000</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f64e65ed-31fc-4b1c-84af-612614f7e7f8</ProjectGuid>
    <PublishUrl>https://api20230422030500.scm.azurewebsites.net/</PublishUrl>
    <UserName>$API20230422030500</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>